:root {
	--accent: rgb(140, 42, 165);
	--accent-bg: rgb(249, 244, 244);
}

@media (prefers-color-scheme: dark){
	:root{
		--accent:rgb(141, 94, 227);
		--accent-bg: #1d1313;
	}
}



body>header h1:first-child {
	color: var(--accent-bg);
	background-color: var(--accent);
	margin: 0;
	padding: 0;
	font-size: 1.25rem;
	font-weight: 300;
	max-width:100%;
}
body{
	display:flex;
	flex-direction: column;
	min-height: 100dvh;
}

main{
	flex: 1;
	display: grid;
	grid-template-areas: 
		"botones formularios"
		"listados formularios";
	grid-template-rows: 1fr 1fr; 
	grid-template-columns: 1fr 2fr;
	padding-top: 0;
}


body > header{
	padding: 0;
}

section{
	border-top:0;
	border-bottom:0;
	margin-inline: 0;
	margin-block: 0;
}

section.listados{
	grid-area: listados;
	background-color: var(--accent-bg);
}
section.formularios{
	grid-area: formularios;
}
section.botones{
	grid-area: botones;
	background-color: var(--accent-bg);
}

section.botones fieldset{
	display: flex;
	flex-direction: column;
}

body > footer{
	margin-top:0;
	padding:0;
	background-color: var(--accent-bg);
}

