@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  --bgcolor: #334455;
  --textcolor: #abc;
  --headingcolor: #bdf;
  --bgdark: #334;
  text-rendering: optimizeLegibility;
}


body {
  background-color: var(--bgcolor);
  color: var(--textcolor);
  font-family: 'Nunito', sans-serif;
  margin: 0;
  font-weight: 300;
}

h1 {
  font-family: 'Raleway', Arial, sans-serif;
  font-weight: 300;
  color: var(--headingcolor);
}


@media (prefers-color-scheme: light) {
  :root {
    --bgcolor: #F5F5F7;
    --textcolor: #567;
    --headingcolor: #3f5f7f;
    --bgdark: #99C;

    background-color: var(--bgcolor);
    color: var(--textcolor);
  }
}



#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

h1, h2 {
  color: var(--headingcolor);
  font-weight: 300;
}

input {
  color: #333;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #e9e9f0;
  transition: border-color 0.25s;
  margin-bottom: 5px;
  margin-right: 5px;
}

input:hover {
  border-color: #646cff;
}

input[disabled] {
  background-color: #9ab;
}

button,
input[type=button],
input[type=submit] {
  min-width: 15ch;
  color: #aaa;
  border-radius: 5px;
  border: 1px solid transparent;
  /* border-inline: 3px solid #3f5f7f; */
  border-inline: 3px solid #3f6f9f;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #2f4f6f; */
  background-color: #3f5f7f;
  cursor: pointer;
  transition: border-color 0.25s, border-inline 0.25s;
  margin-bottom: 5px;
  margin-right: 5px;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  border-inline: 3px solid goldenrod;
}

button:active,
input[type=button]:active,
input[type=submit]:active {
  background-color: #2f4f6f;
  transform: scale(.95) translateY(2px);
}

dialog {
  border-radius: 10px 0px;
  border-color: whitesmoke;
  background-color: #679;
  /*background: linear-gradient(#679, 80%, #345); */
  text-align: center;
  top: 25%;
}

strong {
  font-weight: bold;
}

summary {
  background-color: goldenrod;
  color: white;
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
  margin: -5px;
}

details {
  background-color: var(--bgcolor);
  filter: brightness(.9);
  border-radius: 5px;
  padding: 5px 5px;
}

div.resultado {
  border: 2px dotted #567;
  border-radius: 0px 10px 0px 10px;
  padding: 5px;
}

a {
  color: goldenrod;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  filter: brightness(1);
}

a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -5%;
  right: 105%;
  bottom: -30%;
  background-color: var(--headingcolor);
  filter: opacity(0.05);
  border-radius: 5px;
  height: 170%;
  transition-property: right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

a:hover::before {
  right: -5%;
}

label {
  display: inline-block;
  border-radius: 0px 10px 0px 0px;
  min-width: 15ch;
  background-color: var(--bgdark);
  padding-left: 5px;
}

fieldset{
  border: 1px solid #567;
  margin-bottom: 5px;
}

label.checkbox{
  background-color: var(--bgcolor);
  border-left: 3px solid var(--headingcolor);
}

nav.menu{
  background-color: var(--bgcolor);
  filter: brightness(0.9);
  padding: 0.1rem .2rem;
  border-radius: 5px;
}
nav.menu ul{
  list-style: none;
  padding: 0;
  display:flex;
  justify-content: space-evenly;
}
nav.menu li{
  display: inline;
  margin-left: 10px;
}

pre{
  font-size: 0.9rem;
  padding: 0.5rem;
  background-color: var(--bgdark);
  border-radius: 5px;
}